@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #14141c;
    color: rgb(255, 255, 255);
    font-family: "Michroma", sans-serif;
    font-weight: 400;
}

header {
    padding: 2rem;
    background-color: rgb(139, 0, 0);
    text-align:center ;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input[type="radio"] {
    accent-color: red;
}

img {
    width: 20rem;
    border-radius: 30px;
}

details {
    background-color: darkblue;
    border-radius: 10px;
    padding: 0.5rem;
}

summary {
    color: black;
    margin: 0.5rem;
    cursor: pointer;
}

footer {
    background-color: rgb(143, 0, 0);
    padding: 2rem;
    text-align: center;
}

.paragrafo-footer {
    color: rgb(166, 146, 255);
}